
.infoBin{
    width: 100%;
    margin-bottom: 10px;
    .infoBinItem{
        width: 20%;
    }
    .button{
        margin-top: 24px;
    }
}
.map{
    .leaflet-container{
        height: 690px;  
    }
}
