// .fatherInfor{ 
 
//   .chart-container{
//       width: 100%;
//       .div-father-datetime{
//         width: 100%;
//         display: flex;
//         justify-content: center;
//         .father-datetime{
         
//           margin-top:20px ;      
//           display: flex;
//           column-gap: 200px;
//           .btn{
//           margin-top: 5px;
//           }
//         }
        
        
        
//       }

//       .pdf-excel{
//           display: flex;
//           column-gap: 20px;
//         }  
//       .table{
        
//           tbody{
//             tr{
//               text-align: center;
//               th{
//                 .fault{
//               font-size: 30px;
//               color: red;
//             }
//             .connecting{
//               color: green
//             }
            
//               }
//             }    
//           }
//       }
     
//       .img{
        
//         width: 100%;
//       }
//   }
  

// }

.fatherInfor {
  .chart-container {
    width: 100%;
    .div-father-datetime {
      width: 100%;
      display: flex;
      justify-content: center;
      .father-datetime {
        margin-top: 20px;
        display: flex;
        column-gap: 200px;
        .father-chart {
          // Style cho DateTimePicker
          .react-datetime-picker {
            .react-datetime-picker__wrapper {
              border: 1px solid #ccc; // Viền đơn giản
              border-radius: 4px;
              padding: 5px;
              font-size: 14px;
            }
            .react-datetime-picker__inputGroup {
              background: #fff; // Nền trắng
            }
            .react-datetime-picker__inputGroup__input {
              outline: none; // Bỏ outline khi focus
            }
          }
        }
        .btn {
          margin-top: 5px;
        }
      }
    }

    .pdf-excel {
      display: flex;
      column-gap: 20px;
    }
    .table {
      tbody {
        tr {
          text-align: center;
          th {
            .fault {
              font-size: 30px;
              color: red;
            }
            .connecting {
              color: green;
            }
          }
        }
      }
    }
    .img {
      width: 100%;
    }
  }
}
